<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2023.0.0.2001" targetFramework="net472" />
  <package id="C1.Xaml.WPF" version="4.6.20233.827" targetFramework="net472" />
  <package id="C1.Xaml.WPF.PdfViewer" version="4.6.20233.827" targetFramework="net472" />
  <package id="C1.Xaml.WPF.Zip" version="4.6.20233.827" targetFramework="net472" />
  <package id="Civil3D.NET" version="13.6.1781" targetFramework="net472" />
  <package id="ClosedXML" version="0.95.1" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.0.2" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="10.2.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OpenAI" version="1.11.0" targetFramework="net472" />
  <package id="Pdfium.Net.SDK" version="4.89.2704" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="Spire.PDFViewer" version="7.12.11" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="25.1.38" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="25.1.38" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="25.1.38" targetFramework="net472" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="25.1.38" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="25.1.38" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="25.1.38" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>